DB_HOST=localhost
DB_NAME=smart_learning_hub
DB_USER=root
DB_PASSWORD=kashifkhan

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_email@example.com
SMTP_PASS=your_brevo_smtp_master_key
SMTP_FROM_EMAIL=no-reply@smartlearninghub.com
SMTP_FROM_NAME="Smart Learning Hub"
